In [ ]:
df['Nome prova']=df.apply(lambda x: "-".join(x['Nome porva'].split("-")[:-1]),axis=1)

In [2]:
"2-3-4-5".split("-")[:-1]

['2', '3', '4']

In [4]:
from random import randint

['8-11-3-9',
 '4-7-13-14',
 '7-3-1-8',
 '7-2-10-1',
 '2-2-18-19',
 '5-20-18-10',
 '9-6-17-2',
 '20-8-19-7',
 '7-19-12-12',
 '2-3-12-9']

In [11]:
import pandas as pd

In [16]:
df = pd.DataFrame(["-".join([str(randint(0,20)) for i in range(4)]) for each in range(10)],columns=['A'])
df

            A
0  14-11-19-1
1     6-5-9-1
2  11-2-12-17
3    16-7-0-2
4   5-2-15-19
5   18-7-7-20
6  11-18-17-7
7    4-2-7-12
8   17-1-5-19
9   1-10-15-8

In [17]:
df['A']=df.apply(lambda x: "-".join(x['A'].split("-")[:-1]),axis=1)

In [18]:
dic = {}

for each in range(len(df)):
    
    key = "-".join(df.iloc[each]['Nome prova'].split("-")[:-1])
    
    if key not in list(dic.kesy()):
        dic[key] = []
        
    dic[key].append(df.iloc[each]['Column_name'])
    
print(dic)

          A
0  14-11-19
1     6-5-9
2   11-2-12
3    16-7-0
4    5-2-15
5    18-7-7
6  11-18-17
7     4-2-7
8    17-1-5
9   1-10-15