In [39]:
import mysql.connector

In [40]:
from sqlalchemy import create_engine

In [41]:
import pandas as pd

In [42]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="#Include76002",
    database = 'mysql'
)

mycursor = mydb.cursor()

In [43]:
def dump_df(cursor,name,df,replace= False):
    
    exist_flag = False
    
    mycursor.execute("SHOW TABLES")
  
    for x in mycursor:
        if name == x[0]:
            exist_flag = True
    
    if exist_flag:
        drop_it = "drop table {0}".format(name)
        if replace:
            cursor.execute(drop_it)
            mydb.commit()
            print("table: {0} has been droped".format(name))
    
    # create part
    sql = '''Create table '''+ str(name)+" ("
    
    dtype= ''' VARCHAR(250)'''
    columns = list(df.columns)
    
    for each in columns:
        
        sql = sql + each + dtype +", "
    
    sql = sql[:-2] + ");"
    print(sql)
    
    
    # insert part
    
    
    for i in list(df.index):
        cols = "("+",".join(columns)+")"
        temp = "INSERT INTO "+str(name)+ cols +" VALUES"
        # adding formater

        sql = sql + temp+ "("+",".join([each.replace(",",".") for each in list(data.iloc[i])])+");"
        
    
    for i in sql.split(";"):
        mycursor.execute(i)

        mydb.commit()

In [44]:
data = pd.read_csv("./Data/BusShortcircuit.csv",sep=";")

In [45]:
dump_df(mycursor,'voltages',data,replace=True)

Create table voltages (Time VARCHAR(250), Voltage VARCHAR(250));