In [1]:
import mysql.connector

In [2]:
from sqlalchemy import create_engine

In [3]:
import pandas as pd

In [17]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="#Include76002",
    database = 'mysql'
)

mycursor = mydb.cursor(buffered=True)

In [5]:
def dump_df(cursor,name,df,replace= False):
    
    exist_flag = False
    
    mycursor.execute("SHOW TABLES")
  
    for x in mycursor:
        if name == x[0]:
            exist_flag = True
    
    if exist_flag:
        drop_it = "drop table {0}".format(name)
        if replace:
            cursor.execute(drop_it)
            mydb.commit()
            print("table: {0} has been droped".format(name))
    
    # create part
    sql = '''Create table '''+ str(name)+" ("
    
    dtype= ''' VARCHAR(250)'''
    columns = list(df.columns)
    
    for each in columns:
        
        sql = sql + each + dtype +", "
    
    sql = sql[:-2] + ");"
    print(sql)
    
    
    # insert part
    
    
    for i in list(df.index):
        cols = "("+",".join(columns)+")"
        temp = "INSERT INTO "+str(name)+ cols +" VALUES"
        # adding formater

        sql = sql + temp+ "("+",".join([each.replace(",",".") for each in list(data.iloc[i])])+");"
        
    
    for i in sql.split(";"):
        mycursor.execute(i)

        mydb.commit()

In [6]:
data = pd.read_csv("./Data/BusShortcircuit.csv",sep=";")

In [7]:
dump_df(mycursor,'voltages',data,replace=True)

table: voltages has been droped
Create table voltages (Time VARCHAR(250), Voltage VARCHAR(250));

In [24]:
mycursor.execute("SHOW TABLES;")
tables = mycursor.fetchall()

In [28]:
frame = pd.read_sql("select * from voltages", mydb)

In [34]:
str(frame.shape[0]) +" x "+str(frame.shape[1])

'10003 x 2'

In [40]:
frame.describe()

         Time Voltage
count   10003   10003
unique  10001    2381
top         1    1.04
freq        2    6618

In [53]:
import socket, struct

TCP_IP = 'localhost'
TCP_PORT = 50000
BUFFER_SIZE = 20

s = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
s.connect((TCP_IP, TCP_PORT))
print('Waiting for Simulink to start')
#s.listen(1)

#conn, addr = s.accept()
#print('Connection address: ', addr)

for i in range(50):
    # send data to Simulink
    msg1 = struct.pack('>d', i)
    #conn.send(msg1)
    print('sent data:', i)
    
    # receive data from Simulink
    data = s.recv(BUFFER_SIZE)
    converteddata = int.from_bytes(data, byteorder='big', signed=False)
    print('received data:', converteddata)

conn.close()

Waiting for Simulink to start
sent data: 0

KeyboardInterrupt: